$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

@import "materialize";

.color-theme {
    background-color: darken(color("blue-grey", "darken-4"), 5%);
    color: lighten(color("grey", "base"), 5%);
}

body {
    @extend .color-theme;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.talk-list li>span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

ul.talk-list li.active {
    background-color: rgba(250, 250, 250, 0.1);
}

ul.talk-list li span {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

ul.talk-list li {
    line-height: 44px;
}

.collapsible-header {
    background-color: transparent;
    border: none;
    cursor: auto;
}

.collapsible-body {
    display: block;
    border-bottom: none;
    box-sizing: border-box;
    padding: 0px;
}

.talk-list .collapsible-body>ul:not(.collapsible)>li, .talk-list .collapsible-body>ul:not(.collapsible)>li {
    padding-left: 60px;
}

.point-button {
    text-decoration: none;
    background-color: $secondary-color;
    color: $button-floating-color;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.8rem;
    padding-top: 0.05rem;
    padding-left: 0.25rem;
    margin: 0 0.1rem;
}

.point-li {
    margin: 0.4rem 0;
}

.divider {
    @extend .blue-grey, .darken-2;
}

.modal, .modal .modal-footer {
    @extend .color-theme;
}

.progress {
    background-color: darken($progress-bar-color, 15%);
}

.dark-red {
    background-color: $dark-red;
}

.dark-green {
    background-color: $dark-green;
}
